@font-face {
	font-family: 'OswaldH';	
	src: local('☺'), url('../fonts/Oswaldheavy.woff') format('woff'), url('../fonts/Oswaldheavy.ttf') format('truetype');
	font-weight: 800;
	font-style: normal;
}